
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  span{
	  text-indent: -9999px;
	  position: absolute;
  }
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
    margin: 1em 0;
    position: relative;
    background: #c6482b;
    padding: 3px 5px 3px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.8em;
	&:hover{
			background: #ed775c;
			cursor: pointer;
		}
}
.fa-remove:hover{
			background: #ed775c;
			cursor: pointer;
		}

#semester-one-output{
	h2{
		border-top: none !important;
    	margin: 1em 0 0 !important;
    	padding: 0 !important;
	}
	#majors,
	.answeryes,
	.answerno,
	.decision{
		display: none;
	}
	#decision1{
		display: block;
	}
	.alert,
	.error{
		background: #c6482b;
		padding: 0.5em 1em;
		color: #fff;
	}
	p{
		font-size:1.2em;
		&.question{
			&:before{
				content: '';
			}
			&:after{
				display: none;
			}
		}
	}
	button{
		padding: 0.5em 1em;
		font-size: 1em;
		border: none;
		border-radius: 5px;
		display: block;
		-webkit-transition: all 300ms;
		-moz-transition: all 300ms;
		transition: all 300ms;
		&:hover{
			cursor: pointer;
		}
		&.inline{
			display: inline-block;
			margin: 1em 0.25em;
		}
		&.margin-top{
			margin: 1em 0;
		}
		&.btn-success{
			background: #004c91;
			color:#fff;
			&:hover{
				-webkit-filter: brightness(120%);
			}
		}
		&.btn-green{
			background: #66bb6a;
			font-size: 0.8em;
			margin: 1em 0;
			color: #000;
			text-shadow: 1px 1px 1px #96e098;
			&:hover{
				-webkit-filter: brightness(110%);
			}
		}

		&.btn-error{
			background: #c6482b;
			color: #fff;
			&:hover{
				-webkit-filter: brightness(110%);
			}
		}
	}
	.half{
		display: inline-block;
		width: 42.8%;
		vertical-align: top;
		min-height: 210px;
	}
	.box{
		padding: 0 1em 0;
		border: 1px solid;
		margin: 0 1em 0 0;
		min-height: 215px;
	}
	pre{
		font-family: arial,sans-serif;
		line-height: 1.4;
		&.total{
			background: #efefef;
			padding: 1em;
		}
		&.credits-success{
			background: #b2eab4;
			padding: 1em;
		}
		&.credits-warning{
			background: #fcc76c;
			padding: 1em;
		}
		&.credits-danger{
			background: #f99381;
			padding: 1em;
		}
	}
	#schedule{
		h4{
			color: #3b5998;
			font-size: 1.2em;
			margin: 0;
			border-top: 1px solid #ccc;
			padding: 1em 0 0;
		}
	}
	#science-courses,
	#humanities-courses,
	#arts-courses,
	#social-courses{
		display: none;
		font-size: 0.9em;
		height: 230px;
		border: 1px solid #333;
		margin: 0;
		overflow: -moz-scrollbars-vertical;
		overflow: scroll;
		vertical-align: text-top;
		z-index:999999999;
		h2{
			padding: 0em 1em;
		}
		.class-wrap{
			&:nth-of-type(2n){
				background: #efefef;
			}
			background: #e3ecf4;
			padding: 1em;

			h3{
				margin: 0.2em 0 0.5em;
				color: #004c91;
				border-bottom: 1px solid #004c91;
				padding: 0 0 0.25em;
			}
			p{
				font-size:0.9em;
				&.course{
					position: absolute;
					top: -1em;
					right: -1em;
					max-width: 100px;
					background: #fff;
					padding: 0.5em 01em;
				}
			}

			.input{
				position: relative;
				display: inline-block;
				vertical-align: top;
				input[type="checkbox"]{
					margin: 0.5em 0 0;
					-webkit-appearance: none;
					width: 30px;
					height: 30px;
					background: white;
					border-radius: 5px;
					border: 1px solid #ccc;
					&:disabled{
						background:#ccc;
					}
					&:disabled:hover{
						cursor: not-allowed;
					}
					&:hover,
					&:checked {
						cursor: pointer;
						background: #66bb6a;
						&::before{
							content: '\2713';
							position: absolute;
							z-index: 999;
							margin: 0.25em 0.6em;
							font-size: 1.4em;
							color: #fff;
						}
					}
				}

			}
			.class-info{
				margin: 0em 0 0 1em;
				display: inline-block;
				width: 90%;
				position: relative;
				h3{
					border-bottom: none;
				}
			}
		}

	}
	pre{
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
	$select-color: #fff;
	$select-background: #004c91;
	$select-width: 300px;
	$select-height: 40px;


	.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
	}
	.select,
	.select-major,
	#language-years-list {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: $select-color;
	width: $select-width;
	height: $select-height;
	background: $select-background;
	}
	.select-major{
		background: #b7442e;
	}
	#language-years-list,
	#languages-list,
	#language-course-list{
		background: #e5e5e5;
		color: #222;
	}
	#counter{
		background: #e9e9e9;
		display: block;
		float: left;
		padding: 0.75em 1em;
		border-radius: 200px;
		margin: 0 1em 12em 1em;
		font-size: 1.4em;
		/* color: #fff; */
		border: 1px solid #ccc;
	}
	input#aleks-input{
		padding: 0.25em 0.5em;
		font-size: 1em;
		border: 1px solid #ccc;
	}
	#content{
		float:left;
		display: block;
	}
}
 ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }