/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .fa span {
    text-indent: -9999px;
    position: absolute; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
  margin: 1em 0;
  position: relative;
  background: #c6482b;
  padding: 3px 5px 3px 4px;
  border-radius: 3px;
  color: #fff;
  font-size: 0.8em; }
  .fa-remove:before:hover,
  .fa-close:before:hover,
  .fa-times:before:hover {
    background: #ed775c;
    cursor: pointer; }

.fa-remove:hover {
  background: #ed775c;
  cursor: pointer; }

#semester-one-output h2 {
  border-top: none !important;
  margin: 1em 0 0 !important;
  padding: 0 !important; }

#semester-one-output #majors,
#semester-one-output .answeryes,
#semester-one-output .answerno,
#semester-one-output .decision {
  display: none; }

#semester-one-output #decision1 {
  display: block; }

#semester-one-output .alert,
#semester-one-output .error {
  background: #c6482b;
  padding: 0.5em 1em;
  color: #fff; }

#semester-one-output p {
  font-size: 1.2em; }
  #semester-one-output p.question:before {
    content: ''; }
  #semester-one-output p.question:after {
    display: none; }

#semester-one-output button {
  padding: 0.5em 1em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  display: block;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms; }
  #semester-one-output button:hover {
    cursor: pointer; }
  #semester-one-output button.inline {
    display: inline-block;
    margin: 1em 0.25em; }
  #semester-one-output button.margin-top {
    margin: 1em 0; }
  #semester-one-output button.btn-success {
    background: #004c91;
    color: #fff; }
    #semester-one-output button.btn-success:hover {
      -webkit-filter: brightness(120%); }
  #semester-one-output button.btn-green {
    background: #66bb6a;
    font-size: 0.8em;
    margin: 1em 0;
    color: #000;
    text-shadow: 1px 1px 1px #96e098; }
    #semester-one-output button.btn-green:hover {
      -webkit-filter: brightness(110%); }
  #semester-one-output button.btn-error {
    background: #c6482b;
    color: #fff; }
    #semester-one-output button.btn-error:hover {
      -webkit-filter: brightness(110%); }

#semester-one-output .half {
  display: inline-block;
  width: 42.8%;
  vertical-align: top;
  min-height: 210px; }

#semester-one-output .box {
  padding: 0 1em 0;
  border: 1px solid;
  margin: 0 1em 0 0;
  min-height: 215px; }

#semester-one-output pre {
  font-family: arial,sans-serif;
  line-height: 1.4; }
  #semester-one-output pre.total {
    background: #efefef;
    padding: 1em; }
  #semester-one-output pre.credits-success {
    background: #b2eab4;
    padding: 1em; }
  #semester-one-output pre.credits-warning {
    background: #fcc76c;
    padding: 1em; }
  #semester-one-output pre.credits-danger {
    background: #f99381;
    padding: 1em; }

#semester-one-output #schedule h4 {
  color: #3b5998;
  font-size: 1.2em;
  margin: 0;
  border-top: 1px solid #ccc;
  padding: 1em 0 0; }

#semester-one-output #science-courses,
#semester-one-output #humanities-courses,
#semester-one-output #arts-courses,
#semester-one-output #social-courses {
  display: none;
  font-size: 0.9em;
  height: 230px;
  border: 1px solid #333;
  margin: 0;
  overflow: -moz-scrollbars-vertical;
  overflow: scroll;
  vertical-align: text-top; }
  #semester-one-output #science-courses h2,
  #semester-one-output #humanities-courses h2,
  #semester-one-output #arts-courses h2,
  #semester-one-output #social-courses h2 {
    padding: 0em 1em; }
  #semester-one-output #science-courses .class-wrap,
  #semester-one-output #humanities-courses .class-wrap,
  #semester-one-output #arts-courses .class-wrap,
  #semester-one-output #social-courses .class-wrap {
    background: #e3ecf4;
    padding: 1em; }
    #semester-one-output #science-courses .class-wrap:nth-of-type(2n),
    #semester-one-output #humanities-courses .class-wrap:nth-of-type(2n),
    #semester-one-output #arts-courses .class-wrap:nth-of-type(2n),
    #semester-one-output #social-courses .class-wrap:nth-of-type(2n) {
      background: #efefef; }
    #semester-one-output #science-courses .class-wrap h3,
    #semester-one-output #humanities-courses .class-wrap h3,
    #semester-one-output #arts-courses .class-wrap h3,
    #semester-one-output #social-courses .class-wrap h3 {
      margin: 0.2em 0 0.5em;
      color: #004c91;
      border-bottom: 1px solid #004c91;
      padding: 0 0 0.25em; }
    #semester-one-output #science-courses .class-wrap p,
    #semester-one-output #humanities-courses .class-wrap p,
    #semester-one-output #arts-courses .class-wrap p,
    #semester-one-output #social-courses .class-wrap p {
      font-size: 0.9em; }
      #semester-one-output #science-courses .class-wrap p.course,
      #semester-one-output #humanities-courses .class-wrap p.course,
      #semester-one-output #arts-courses .class-wrap p.course,
      #semester-one-output #social-courses .class-wrap p.course {
        position: absolute;
        top: -1em;
        right: -1em;
        max-width: 100px;
        background: #fff;
        padding: 0.5em 01em;
        z-index:99999999; }
    #semester-one-output #science-courses .class-wrap .input,
    #semester-one-output #humanities-courses .class-wrap .input,
    #semester-one-output #arts-courses .class-wrap .input,
    #semester-one-output #social-courses .class-wrap .input {
      position: relative;
      display: inline-block;
      vertical-align: top; }
      #semester-one-output #science-courses .class-wrap .input input[type="checkbox"],
      #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"],
      #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"],
      #semester-one-output #social-courses .class-wrap .input input[type="checkbox"] {
        margin: 0.5em 0 0;
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 5px;
        border: 1px solid #ccc; }
        #semester-one-output #science-courses .class-wrap .input input[type="checkbox"]:disabled,
        #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"]:disabled,
        #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"]:disabled,
        #semester-one-output #social-courses .class-wrap .input input[type="checkbox"]:disabled {
          background: #ccc; }
        #semester-one-output #science-courses .class-wrap .input input[type="checkbox"]:disabled:hover,
        #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"]:disabled:hover,
        #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"]:disabled:hover,
        #semester-one-output #social-courses .class-wrap .input input[type="checkbox"]:disabled:hover {
          cursor: not-allowed; }
        #semester-one-output #science-courses .class-wrap .input input[type="checkbox"]:hover, #semester-one-output #science-courses .class-wrap .input input[type="checkbox"]:checked,
        #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"]:hover,
        #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"]:checked,
        #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"]:hover,
        #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"]:checked,
        #semester-one-output #social-courses .class-wrap .input input[type="checkbox"]:hover,
        #semester-one-output #social-courses .class-wrap .input input[type="checkbox"]:checked {
          cursor: pointer;
          background: #66bb6a; }
          #semester-one-output #science-courses .class-wrap .input input[type="checkbox"]:hover::before, #semester-one-output #science-courses .class-wrap .input input[type="checkbox"]:checked::before,
          #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"]:hover::before,
          #semester-one-output #humanities-courses .class-wrap .input input[type="checkbox"]:checked::before,
          #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"]:hover::before,
          #semester-one-output #arts-courses .class-wrap .input input[type="checkbox"]:checked::before,
          #semester-one-output #social-courses .class-wrap .input input[type="checkbox"]:hover::before,
          #semester-one-output #social-courses .class-wrap .input input[type="checkbox"]:checked::before {
            content: '\2713';
            position: absolute;
            z-index: 999;
            margin: 0.25em 0.6em;
            font-size: 1.4em;
            color: #fff; }
    #semester-one-output #science-courses .class-wrap .class-info,
    #semester-one-output #humanities-courses .class-wrap .class-info,
    #semester-one-output #arts-courses .class-wrap .class-info,
    #semester-one-output #social-courses .class-wrap .class-info {
      margin: 0em 0 0 1em;
      display: inline-block;
      width: 90%;
      position: relative; }
      #semester-one-output #science-courses .class-wrap .class-info h3,
      #semester-one-output #humanities-courses .class-wrap .class-info h3,
      #semester-one-output #arts-courses .class-wrap .class-info h3,
      #semester-one-output #social-courses .class-wrap .class-info h3 {
        border-bottom: none; }

#semester-one-output pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

#semester-one-output .select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

#semester-one-output .select,
#semester-one-output .select-major,
#semester-one-output #language-years-list {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 300px;
  height: 40px;
  background: #004c91; }

#semester-one-output .select-major {
  background: #b7442e; }

#semester-one-output #language-years-list,
#semester-one-output #languages-list,
#semester-one-output #language-course-list {
  background: #e5e5e5;
  color: #222; }

#semester-one-output #counter {
  background: #e9e9e9;
  display: block;
  float: left;
  padding: 0.75em 1em;
  border-radius: 200px;
  margin: 0 1em 12em 1em;
  font-size: 1.4em;
  /* color: #fff; */
  border: 1px solid #ccc; }

#semester-one-output input#aleks-input {
  padding: 0.25em 0.5em;
  font-size: 1em;
  border: 1px solid #ccc; }

#semester-one-output #content {
  float: left;
  display: block; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }
